--langdef=apiblueprint
--langmap=apiblueprint:.apib
--regex-apiblueprint=/^#[ ]+(.*)/Introduction/z,API/
--regex-apiblueprint=/^#+[ ]+Group[ ]+(.*)/\1/g,Resource Group/
--regex-apiblueprint=/^##[ ]+(.*)[ ]+\[([^[:space:]]+)\]/\1 - \2/r,Resource/
--regex-apiblueprint=/^##[ ]+(.*)[ ]+\[([A-Z]+) (.*)\]/\1 - \2 \3/a,Action/
--regex-apiblueprint=/^###[ ]+(.*)[ ]+\[([A-Z]+)\]/\1 - \2/a,Action/
